{% extends 'HospiceSiteBundle::layout.html.twig' %} 
{% block javascripts
%}
<style>
.hospice_sitebundle_event_start{z-index:1151 !important;}
</style>
<script type="text/javascript">

	$(document).ready(function() {
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			defaultDate: '2014-11-12',
			selectable: true,
			selectHelper: true,
			select: function(start, end) {
            $('#eventDatepair .time').timepicker({
                'showDuration': true,
                'timeFormat': 'g:i'
            });
            $('#eventDatepair .date').datepicker({
                'format': 'yyyy-mm-dd',
                'autoclose': true
            });
            $('#eventDatepair').datepair();           

                $('#eventModal').modal('show')
/*				var title = prompt('Event Title:');
				var eventData;
				if (title) {
					eventData = {
						title: title,
						start: start,
						end: end
					};
					$('#calendar').fullCalendar('renderEvent', eventData, true); // stick? = true
				}
				$('#calendar').fullCalendar('unselect');*/
			},
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2014-11-01'
				},
				{
					title: 'Long Event',
					start: '2014-11-07',
					end: '2014-11-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-11-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2014-11-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2014-11-11',
					end: '2014-11-13'
				},
				{
					title: 'Meeting',
					start: '2014-11-12T10:30:00',
					end: '2014-11-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2014-11-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2014-11-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2014-11-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2014-11-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2014-11-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2014-11-28'
				}
			]
		});
		




	});

function submitEvent() {
    $('#hospice_sitebundle_event_id').submit();
}

</script>

{% endblock %}

{% block data_holder -%}

<h1 id="data_holder_title" class="page-header">{% trans %}Events{% endtrans %}</h1>

<div id="data_holder" class="table-responsive">
	<div id='calendar'></div>
</div>

{% endblock %}

{% block bodypart -%}
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="eventModalLabel">Create new event</h4>
      </div>
      <div class="modal-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.type) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            <p id="eventDatepair">
                {{ form_widget(form.start.date, { 'type': 'text', 'attr': {'class': 'date start'} }) }}
                {{ form_widget(form.start.time, { 'type': 'text', 'attr': {'class': 'time start'} }) }} to
                {{ form_widget(form.end.time, { 'type': 'text', 'attr': {'class': 'time end'} }) }}
                {{ form_widget(form.end.date, { 'type': 'text', 'attr': {'class': 'date end'} }) }}
            </p>
            {{ form_end(form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="submitEvent();">Create</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}


